# Next.js
.next/
out/

# TypeScript
*.tsbuildinfo

# Dependencies
node_modules/

# Vercel
.vercel/

# Playwright
playwright-report/
test-results/

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local
.vercel
